:root {
    --secondary-color:black;
    --primary-color:white;

    --fam-font:'lato';

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header{
    background: #181A20;
    width: 100%;
    height: 331px;
    color: var(--primary-color);
}

.first-inner-content-header{
    width: 99%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.first-inner-content-header img{
    width:10em ;
    margin-bottom: 23px;
    font-size: 20px;
    
}

.inner-first-inner-content-header{
    display: flex;
}

.inner-first-inner-content-header, .v-l{
    font-size: 14px;
    font-weight: 400;
    margin:  5px;
} 

 .inner-first-inner-content-header div{
    margin: 0 10px;
} 


 .v-l{
    border-left: 3px solid var(--primary-color);
    height: 10%;
}

.sec-container{
    width: 92%;
    margin: auto;
}

.second-inner-content{
    line-height: 48px;
}

.second-inner-content h1{
    font-family: var(--fam-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #EAECEF;
}

.inner-sec{
    font-family: var(--fam-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #848E9C;

}

.hd-flex{
    display: flex;

}

.hd-flex p{
    margin-inline:0 40px;
    font-family: var(--fam-font);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 28px;

}

.cross-line{
    width: 100%;
    
}

.inner-cross-line{
    width: 100%;
    padding: 18px;
    background: rgba(134, 148, 189, 0.56);
    display: flex;
    
}

.inner-cross-line p{
    letter-spacing: 1px;
    padding: 0 10px 0 47px;
    font-family: var(--fam-font);
    font-weight: 400;
    font-size: 18px;
    color: #848E9C;
}

.inner-cross-line img{
    width: 20px;
    margin: 0 0 0 5px;
}


.container-section-1{
    width: 96%;
    margin: auto;
    padding: 30px ;
   
}

.inner-container-section{
    display: flex;
    justify-content: space-between;
    position: relative;

}

.inner-frist{
    display: flex;
    position: relative;
    
}

.inner-frist, .color-yellow, .gray-color{
    margin:0 20px 0 0;
    font-family: var(--fam-font);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}



.color-yellow a{
    color: #1E2329;
  
}

.gray-color a{
    color: #707A8A ;
}

.inner-frist div a{
    text-decoration: none;
    position: relative;
}

.inner-frist div a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #F3BA2F;
    left: 0;
    bottom: 0;
    top: 2em;
    z-index: 1;
    border-radius:50px ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 230ms ease-in;
  

}

.inner-frist div a:focus::before{
    transform: scaleX(1);
    transform-origin: left;
}



.inner-second{
    display:flex;
}
.inner-second div a{
    text-decoration: none;
    margin: 0 0 0 33px ;
    font-family: var(--fam-font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
    color: #C99400;
    cursor: pointer;
    position: relative;
}

.inner-second div a::before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 39px;
    left: 0;
    bottom:0;
    background: rgba(21, 46, 121, 0.56);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 230ms ease-in;
    z-index: 1;
    border-radius: 5px;
}

.inner-second div a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.hr-line{
    width: 100%;
    height: 3px;
    background:  #BDBDBD;
    position: absolute;
    top: 2.5em;
    right: 0.1%;

}


form .text-field{
    position: relative;
    margin:  40px 0;
}

.text-field input{
    width: 27%;
  /* width: 577px; */
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: #f1f1f1;
    border: none;
}

.text-field label{
    
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    border: none;
}


.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -10px;
    
   
}
.p-red{
    color: #C90000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
}

.content-phrases{
    position: relative;
}

.content-phrases label{
    position: absolute;
    top: -10px;
    left: 10px;
    transform: translateY(-50%);
    font-family: var(--fam-font);
    font-weight: 700;

    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    border: none;
    

}
.content-phrases textarea{
    width: 27%;
    padding:10px;
    height: 116px;
    font-size: 18px;
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
    font-family:var(--fam-font);
    font-weight: 500;
    overflow-wrap: scroll;
    margin:7px 0 25px 0;
}




.main-card {
    display: flex;
    


}

.inner-card{
    padding: 10px 13px;
    margin: 0 10px 0 0;
    background: #e9e8e8;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;

    
}
.loan-icon{
    display: flex;
    margin: 0 0 5px 0;
    
}

.loan-icon p{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
 
}


.my-span-style{
    position: relative;
}

.my-span-style::before{
    display: block;
    content: "!";
    position: absolute;
    margin: 0 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-align: center;
}

.payment-paragraph{
    font-family: var(--fam-font);
    font-weight: 500;
    font-size: 14px;
    color: #848E9C;
    margin: 0 0 10px 0;

}

.main-transaction{
    width: 96%;
    margin: auto;
    
}

.main-transaction img{
    width: 80%;
    max-width: 100%;

}

.main-footer{
    width: 100%;
    height: 100%;
    background: #181A20;
}

.inner-footer{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    
}

.inner-footer div{
    margin: 0 40px ;
}

.inner-footer div h1{
    font-family: var(--fam-font);
    font-weight: 700;
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.inner-footer div p{
    font-family: var(--fam-font);
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height:1.78em;
    color: #848E9C;
}

.inner-footer div img{
    margin: -10px 0 0 -40px;
}

.hr-line-footer{
    width: 100%;
    height: 2px;
    border: 0.5px solid #848E9C
}

.end-page-footer{
    font-family: var(--fam-font);
    font-weight: 500;
    font-size: 12px;
    color: #848E9C;
    text-align: center;
    padding: 20px 0 20px 0;
}

@media screen and (max-width:650px){

    body{
        overflow-x: hidden;
    }
    .container-header{
        width: 100%;
        height: auto;

    }

    .first-inner-content-header{
        display:block;
        text-align: center;
        
    }

    .first-inner-content-header img{
        margin: 30px 67px 0 0;
        width: 15em;
        
    }

    .inner-first-inner-content-header{
        display: none;
    }

    .second-inner-content{
    
        text-align: center;
        margin-bottom: 30px;
    }

    .second-inner-content h1{
        text-align: center;
        margin-bottom: 10px;
    }

    .inner-sec{

        line-height: 1.4;
        margin: 0 5em;
        
        
    }

    .hd-flex{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px 0 -15px 27px;
        
    }

    .hd-flex p{
        font-size: 1.3em;
        
    }
    .inner-cross-line{
        display: flex;
        width: 100%;
        justify-content: center;
    }


    .cross-line > img{
        width: 30px;
        margin: 0 -10em 0 0;
    
        
    }

    .text-field input, 
    .content-phrases textarea{
        width: 100%;

    }

    .container-section-1{
        padding:0;
    }




    .inner-footer{
        display: grid;
        grid-gap:  5em;
        grid-template-columns: repeat(3, 1fr);
    }

    .inner-footer  > div{
        margin: 0;
    }

    .end-page-footer{
        font-size: 1em;
    }

    .inner-container-section{
        display: none;
    }


}

@media screen and (max-width:768px)  {

    .container-header{
        width: 100%;
        height: auto;
        
    }
    .inner-container-section{
        display: none;
    }

    .container-section-1{
        padding:0;
    }


    .text-field input, 
    .content-phrases textarea{
    width: 86%;

    }

    .inner-cross-line p{
        padding: 0 12px 0 10px;
    }

    .inner-footer{
        display: grid;
        grid-gap:  1em;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .inner-footer  > div{
        margin: 0 0 20px 0;
    }
    
    .end-page-footer{
        font-size: 1em;
    }

 
}

@media  screen and (min-width:1025px) {

    .text-field input, 
    .content-phrases textarea{
        width: 27%;

    }

    .inner-footer{

        flex-wrap: wrap ;

    }

    
}